<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/ML/12_RF_profiling-mutate2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip install -U pandas-profiling

In [ ]:
# !pip install pandas-profiling==3.1.0

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
import pandas as pd
import numpy as np
import pandas_profiling

In [ ]:
%matplotlib inline

In [ ]:
df = pd.read_csv("./credit_cards_dataset.csv")

In [ ]:
len(df.columns)

25

In [ ]:
df.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [ ]:
df['PAY_AVR']=df[['PAY_0','PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6']].mean(axis=1)

In [ ]:
df['BILL_AVR']=df[['BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']].mean(axis=1)

In [ ]:
df['AMT_AVR']=df[['PAY_AMT1','PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].mean(axis=1)

In [ ]:
df['UTIL'] = df['BILL_AVR']/df['LIMIT_BAL']

In [ ]:
df['PAY_SUM']=df[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].sum(axis=1).round()

In [ ]:
df['BILL_SUM']=df[['BILL_AMT1', 'BILL_AMT2','BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']].sum(axis=1).round()

In [ ]:
# df['PAY_TO_BILL'] = df[['PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6']].sum(axis=1)/df[['BILL_AMT1', 'BILL_AMT2','BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6']].sum(axis=1)

In [ ]:
df['PAY_TO_BILL']=df['PAY_SUM']/df['BILL_SUM'].round(2)

In [ ]:
df.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT5,PAY_AMT6,default.payment.next.month,PAY_AVR,BILL_AVR,AMT_AVR,UTIL,PAY_SUM,BILL_SUM,PAY_TO_BILL
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,3.000000e+04,2.920500e+04
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,4799.387633,5215.502567,0.221200,-0.182439,44976.945200,5275.232094,0.373048,3.165139e+04,2.698617e+05,inf
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,15278.305679,17777.465775,0.415062,0.982176,63260.721860,10137.946323,0.351890,6.082768e+04,3.795643e+05,NaN
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,0.000000,0.000000,0.000000,-2.000000,-56043.166667,0.000000,-0.232590,0.000000e+00,-3.362590e+05,-5.469286e+02
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,252.500000,117.750000,0.000000,-0.833333,4781.333333,1113.291667,0.029997,6.679750e+03,2.868800e+04,4.222217e-02
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,1500.000000,1500.000000,0.000000,0.000000,21051.833333,2397.166667,0.284834,1.438300e+04,1.263110e+05,9.313918e-02
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,4031.500000,4000.000000,0.000000,0.000000,57104.416667,5583.916667,0.687929,3.350350e+04,3.426265e+05,6.237201e-01
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,426529.000000,528666.000000,1.000000,6.000000,877313.833333,627344.333333,5.364308,3.764066e+06,5.263883e+06,inf

In [ ]:
df_featured = df.drop(['SEX','ID', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2','BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], axis=1)

In [ ]:
df_featured.columns

Index(['LIMIT_BAL', 'EDUCATION', 'MARRIAGE', 'AGE',
       'default.payment.next.month', 'PAY_AVR', 'BILL_AVR', 'AMT_AVR', 'UTIL',
       'PAY_TO_BILL'],
      dtype='object')

In [ ]:
columns = list(df_featured.columns)

In [ ]:
type(columns)

list

In [ ]:
columns = ['LIMIT_BAL',  'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_AVR', 'BILL_AVR', 'AMT_AVR', 'UTIL', 'PAY_TO_BILL', 'default.payment.next.month']

In [ ]:
columns

['LIMIT_BAL',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_AVR',
 'BILL_AVR',
 'AMT_AVR',
 'UTIL',
 'PAY_TO_BILL',
 'default.payment.next.month']

In [ ]:
df = df_featured[columns]

In [ ]:
df.columns

Index(['LIMIT_BAL', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_AVR', 'BILL_AVR',
       'AMT_AVR', 'UTIL', 'PAY_TO_BILL', 'default.payment.next.month'],
      dtype='object')

In [ ]:
df.describe()

,LIMIT_BAL,EDUCATION,MARRIAGE,AGE,PAY_AVR,BILL_AVR,AMT_AVR,UTIL,PAY_TO_BILL,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,2.920500e+04,30000.000000
mean,167484.322667,1.853133,1.551867,35.485500,-0.182439,44976.945200,5275.232094,0.373048,inf,0.221200
std,129747.661567,0.790349,0.521970,9.217904,0.982176,63260.721860,10137.946323,0.351890,NaN,0.415062
min,10000.000000,0.000000,0.000000,21.000000,-2.000000,-56043.166667,0.000000,-0.232590,-5.469286e+02,0.000000
25%,50000.000000,1.000000,1.000000,28.000000,-0.833333,4781.333333,1113.291667,0.029997,4.222217e-02,0.000000
50%,140000.000000,2.000000,2.000000,34.000000,0.000000,21051.833333,2397.166667,0.284834,9.313918e-02,0.000000
75%,240000.000000,2.000000,2.000000,41.000000,0.000000,57104.416667,5583.916667,0.687929,6.237201e-01,0.000000
max,1000000.000000,6.000000,3.000000,79.000000,6.000000,877313.833333,627344.333333,5.364308,inf,1.000000

**Method -> peason , spearman, kendall**

In [ ]:
df.corr(method = 'kendall')

In [ ]:
# df.profile_report()

In [ ]:
#print("Original shape of the data: "+ str(df.shape))
features_names = df.columns

In [ ]:
X = df.drop('default.payment.next.month', axis =1).values
y = df['default.payment.next.month'].values
print(X.shape)
print(y.shape)

(30000, 9)
(30000,)

Split my data into training and testing

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42, shuffle=True)

Instantiate the random forest model with 200 trees

In [ ]:
rf = RandomForestClassifier(n_estimators=200, criterion='entropy', max_features='log2', max_depth=15)

In [ ]:
rf.fit(X_train, y_train)

ValueError: ignored

In [ ]:
y_predict = rf.predict(X_test)

Check feature importance

In [ ]:
sorted(zip(rf.feature_importances_, features_names), reverse=True)

In [ ]:
## plot the importances ##
import matplotlib.pyplot as plt
importances = rf.feature_importances_


indices = np.argsort(importances)[::-1]
plt.figure(figsize=(12,6))
plt.title("Feature importances by DecisionTreeClassifier")
plt.bar(range(len(indices)), importances[indices], color='lightblue',  align="center")
plt.step(range(len(indices)), np.cumsum(importances[indices]), where='mid', label='Cumulative')
plt.xticks(range(len(indices)), features_names[indices], rotation='vertical',fontsize=14)
plt.xlim([-1, len(indices)])
plt.show()

# Making my prediction and seeing how well my model predicted by checking recall, precision, F1 score and making a confusion matrix.

Recall -tells us generally or overall how well our model predicted based on 
        the total of how much it correctly predicted /correctly predicted +                           how many where actually right but predicted wrong.
                        
                        formula = TP/TP+FN
                        
Precision -tells us or gives us true measure how well our model predicted it                              shows correctly predicted /correctly predicted + how many the model                            predicted to be positive but where false.

                       formula = TP/TP+FP
                       
F1 score - gives us a mean of precision and recall, a sumarization of how well it                        did in respect to recall and precision.

In [ ]:
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV

In [ ]:
X_test.shape

In [ ]:
#Make my predictions
y_prediction = rf.predict(X_test)

In [ ]:
y_probability = rf.predict_proba(X_test)

In [ ]:
y_probability.shape

In [ ]:
print("Recall score:"+ str(recall_score(y_test, y_prediction)))

In [ ]:
y_prediction.reshape(-1,1)

In [ ]:
# This shows overall acuracy of how well it will predict defualt or non_default
# The scores corresponding to every class will tell you the accuracy of the classifier 
# in classifying the data points in that particular class compared to all other classes.
# The support is the number of samples of the true response that lie in that class.

print(classification_report(y_test, y_prediction,
                            target_names=["non_default", "default"]))

In [ ]:
# Creating confusion matrix would give us a ration of non-default compared 
# to default.

In [ ]:
from sklearn.metrics import confusion_matrix
import itertools
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline  
import numpy as np

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)
    
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

In [ ]:
cnf_matrix = confusion_matrix(y_test, y_prediction)
plt.figure()
plot_confusion_matrix(cnf_matrix, classes=['Non_Default','Default'], normalize=False,
                      title='Non Normalized confusion matrix')