<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/ML/13-PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PCA

In [1]:
# example of pca for dimensionality reduction
from sklearn.datasets import make_classification
from sklearn.decomposition import PCA

In [2]:
# define dataset
X, y = make_classification(n_samples=1000, n_features=10, n_informative=3, n_redundant=7,
random_state=1)

# summarize data before the transform
print(X[:3, :])

[[-0.53448246  0.93837451  0.38969914  0.0926655   1.70876508  1.14351305
  -1.47034214  0.11857673 -2.72241741  0.2953565 ]
 [-2.42280473 -1.02658758 -2.34792156 -0.82422408  0.59933419 -2.44832253
   0.39750207  2.0265065   1.83374105  0.72430365]
 [-1.83391794 -1.1946668  -0.73806871  1.50947233  1.78047734  0.58779205
  -2.78506977 -0.04163788 -1.25227833  0.99373587]]

In [3]:
# define the transform
trans = PCA(n_components=5)

# transform the data
X_dim = trans.fit_transform(X)

# summarize data after the transform
print(X_dim[:3, :])

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00  6.62803591e-16
  -1.53840790e-16]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01  1.94371536e-16
   3.93411169e-16]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01  1.35091406e-15
   1.07031348e-15]]

In [4]:
print(X_dim)

[[-1.64710578e+00 -2.11683302e+00  1.98256096e+00  6.62803591e-16
  -1.53840790e-16]
 [ 9.28402085e-01  4.82949970e+00  2.27270432e-01  1.94371536e-16
   3.93411169e-16]
 [-3.83677757e+00  3.23007138e-01  1.15128013e-01  1.35091406e-15
   1.07031348e-15]
 ...
 [ 3.45579288e+00 -6.49130724e-01 -6.98465393e-01  7.69225158e-16
   3.27559863e-17]
 [ 4.32915522e+00 -3.00906405e-01 -1.99348645e+00  6.19403584e-16
  -5.60414388e-17]
 [-2.49808012e+00 -1.87944823e+00  4.47071779e-03  5.64840100e-16
  -1.80373326e-17]]

In [5]:
import pandas as pd

In [6]:
df_X = pd.DataFrame(X_dim)

In [7]:
df_X.describe().round()

            0       1       2       3       4
count  1000.0  1000.0  1000.0  1000.0  1000.0
mean     -0.0     0.0    -0.0     0.0     0.0
std       3.0     3.0     2.0     0.0     0.0
min      -7.0    -8.0    -5.0     0.0    -0.0
25%      -2.0    -2.0    -1.0     0.0    -0.0
50%      -1.0    -0.0     0.0     0.0     0.0
75%       2.0     2.0     1.0     0.0     0.0
max       8.0    10.0     5.0     0.0     0.0

In [8]:
df_X_org = pd.DataFrame(X)

In [9]:
df_X_org.describe().round()

,0,1,2,3,4,5,6,7,8,9
count,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0,1000.0
mean,-1.0,-0.0,-0.0,0.0,0.0,-0.0,-0.0,0.0,-0.0,0.0
std,2.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,2.0,1.0
min,-5.0,-3.0,-5.0,-4.0,-3.0,-5.0,-5.0,-3.0,-5.0,-2.0
25%,-2.0,-1.0,-1.0,-1.0,-0.0,-1.0,-2.0,-0.0,-2.0,-0.0
50%,-1.0,-0.0,-0.0,0.0,1.0,-0.0,-1.0,0.0,-0.0,0.0
75%,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
max,4.0,4.0,3.0,3.0,4.0,5.0,5.0,4.0,4.0,2.0

In [10]:
X_dim.shape

(1000, 5)

In [11]:
print("\nFirstprincipal axis :", trans.components_[0])

print("Second principal axis", trans.components_[1])

print("Third principal axis", trans.components_[2])

Firstprincipal axis : [ 0.30139367  0.2906802   0.08446786 -0.40630879 -0.31791676 -0.20643607
  0.62622795  0.11716757  0.25669845 -0.1922876 ]
Second principal axis [-0.44347297 -0.28087938 -0.44465307 -0.07863887  0.06367704 -0.45409896
  0.04338621  0.32572588  0.42657205  0.14259741]
Third principal axis [-0.23696749  0.4344179  -0.07607847 -0.38501528  0.41756942 -0.05364617
  0.02642631  0.37397604 -0.53091964  0.03779641]

In [12]:
print(trans.explained_variance_ratio_)

[4.85352415e-01 3.83707404e-01 1.30940181e-01 1.87904219e-32
 4.34514875e-34]

In [23]:
df_X_org.corr().round(2)

      0     1     2     3     4     5     6     7     8     9
0  1.00  0.70  0.90 -0.30 -0.73  0.43  0.54 -0.55 -0.14 -0.93
1  0.70  1.00  0.63 -0.72 -0.33  0.17  0.63  0.03 -0.35 -0.81
2  0.90  0.63  1.00  0.01 -0.37  0.78  0.15 -0.75 -0.54 -0.72
3 -0.30 -0.72  0.01  1.00  0.46  0.57 -0.90 -0.63 -0.31  0.62
4 -0.73 -0.33 -0.37  0.46  1.00  0.21 -0.79  0.15 -0.58  0.81
5  0.43  0.17  0.78  0.57  0.21  1.00 -0.51 -0.88 -0.82 -0.11
6  0.54  0.63  0.15 -0.90 -0.79 -0.51  1.00  0.38  0.51 -0.79
7 -0.55  0.03 -0.75 -0.63  0.15 -0.88  0.38  1.00  0.44  0.21
8 -0.14 -0.35 -0.54 -0.31 -0.58 -0.82  0.51  0.44  1.00 -0.05
9 -0.93 -0.81 -0.72  0.62  0.81 -0.11 -0.79  0.21 -0.05  1.00

In [15]:
X_dim_df = pd.DataFrame(X_dim)

In [24]:
X_dim_df.corr().round(2)

     0    1    2    3    4
0  1.0 -0.0 -0.0 -0.0 -0.0
1 -0.0  1.0  0.0 -0.0 -0.0
2 -0.0  0.0  1.0  0.0 -0.0
3 -0.0 -0.0  0.0  1.0 -0.0
4 -0.0 -0.0 -0.0 -0.0  1.0