<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/Exercise/0_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from urllib import parse
from ast import literal_eval
import requests

In [2]:
def get_sise(code, start_time, end_time, time_from='day'):
    get_param = { 'symbol':code, 'requestType':1, 'startTime':start_time, 'endTime':end_time, 'timeframe':time_from }
    get_param = parse.urlencode(get_param)
    url="https://api.finance.naver.com/siseJson.naver?%s"%(get_param)
    response = requests.get(url) 
    return literal_eval(response.text.strip())

In [3]:
data = get_sise('005930', '20220101', '20220228', 'day')

In [4]:
data[0:3]

[['날짜', '시가', '고가', '저가', '종가', '거래량', '외국인소진율'],
 ['20220103', 79400, 79800, 78200, 78600, 13502112, 51.97],
 ['20220104', 78800, 79200, 78300, 78700, 12427416, 51.98]]

In [5]:
import pandas as pd

In [6]:
data_df = pd.DataFrame(data, columns=['날짜', '시가', '고가', '저가', '종가', '거래량', '외국인소진율'])

In [7]:
data_df.head(3)

         날짜     시가     고가     저가     종가       거래량  외국인소진율
0        날짜     시가     고가     저가     종가       거래량  외국인소진율
1  20220103  79400  79800  78200  78600  13502112   51.97
2  20220104  78800  79200  78300  78700  12427416   51.98

In [8]:
data_df.drop(data_df.index[0], inplace=True)

In [9]:
data_df.head(3)

         날짜     시가     고가     저가     종가       거래량 외국인소진율
1  20220103  79400  79800  78200  78600  13502112  51.97
2  20220104  78800  79200  78300  78700  12427416  51.98
3  20220105  78800  79000  76400  77400  25470640  51.99

In [14]:
data_df.index[2]

3

In [15]:
data_df.columns[2]

'고가'