<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/Python_Data_Types/3_data_type.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

### List is a collection which is ordered and changeable. Allows duplicate members.
### Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
### Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
### Dictionary is a collection which is ordered** and changeable. No duplicate members.

![python-data-structures-1024x407.webp]()

In [ ]:
x = list(('apple', 'banana', 'cherry'))

set()
집합 (set) 객체는 서로 다른 해시 가능 객체의 순서 없는 컬렉션입니다. 일반적인 용도는 멤버십 검사, 시퀀스에서 중복 제거와 교집합, 합집합, 차집합, 대칭 차집합과 같은 수학 연산을 계산하는 것입니다.
다른 컬렉션과 마찬가지로, 집합은 x in set, len(set), for x in set 을 지원합니다. 순서가 없는 컬렉션이므로, 집합은 원소의 위치나 삽입 순서를 기록하지 않습니다. 따라서 집합은 인덱싱, 슬라이싱 또는 기타 시퀀스와 유사한 동작을 지원하지 않습니다.

In [ ]:
# 세개 다 같은 집합을 만듭니다.
s1 = set({1, 2, 3})
s2 = set([1, 2, 3])
s3 = {1, 2, 3}

In [ ]:
s1

In [ ]:
s3[0]  # 순서가 없기 때문에 리스트나 튜플에서 사용했던 인덱싱이 불가능 한 것 입니다.

In [ ]:
# 비어있는 집합을 만들기 위해서는 아래와 같이 사용합니다.
s4 = set()

파이썬 교집합, 합집합, 차집합, 집합이 같은지, 다른지

In [ ]:
# 교집합 : 교집합을 구할때는 "intersection" 이라는 메서드를 이용하거나 "&"를 이용하여 집합의 교집합을 구할 수 있습니다.

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
# 교집합 메서드 intersection
print(s1.intersection(s2))
 
# 교집합 연산자 &
print(s1 & s2)

In [ ]:
# 합집합 : 합집합을 구할때는 "union" 이라는 메서드를 이용하거나 "|" 연산자를 이용하여 구할 수 있습니다.

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
# 합집합 메서드 union
print(s1.union(s2))
 
# 합집합 연산자 |
print(s1 | s2)

In [ ]:
# 차집합 : 순서가 바뀌어도 상관이 없는 교집합, 합집합과 달리 차집합은 순서가 상관이 있습니다.
# 차집합을 구할때는 "difference" 메서드를 이용하거나 "-" 연산자를 이용해서 구할 수 있습니다.

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
# 차집합 메서드 difference
print(s1.difference(s2))
print(s2.difference(s1))
 
# 차집합 연산자 -
print(s1 - s2)
print(s2 - s1)

In [ ]:
# 집합이 같은지 : 집합은 순서가 상관이 없기 때문에 같은 요소만 들어있다면 같은 집합입니다.
# 집합의 모든요소가 같을때'만' 집합이 같은것 입니다.

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s3 = {1, 2, 3, 4, 5}
 
if s1 == s2:
    print("s1과 s2은 같습니다.")
else:
    print("s1과 s2은 다릅니다.")
 
if s1 == s3:
    print("s1과 s3은 같습니다.")
else:
    print("s1과 s3은 다릅니다.")

In [ ]:
# 집합이 아예 다른지 (같은요소가 없다) 집합이 다른것은 사실 요소가 하나라도 다르면 다른것 입니다. 그것에 대한검사는 != 으로 할수 있습니다.
# 하지만, 여기서 확인하고 싶은것은 집합에서 공통된 부분이 하나도 없다.
# 즉, 교집합이 없다.
# 즉, 아예 모든 요소가 다 다르다. 그때 사용하는 메서드는 isdisjoint 입니다.


s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s3 = {1, 2, 3, 4, 5}
s4 = {6, 7, 8, 9, 10}
 
if s1.isdisjoint(s2):
    print("s1과 s2은 같은 요소가 하나도 없습니다.")
else:
    print("s1과 s2은 같은 요소가 적어도 하나는 있습니다.")
 
if s1.isdisjoint(s3):
    print("s1과 s3은 같은 요소가 하나도 없습니다.")
else:
    print("s1과 s3은 같은 요소가 적어도 하나는 있습니다.")
 
if s1.isdisjoint(s4):
    print("s1과 s4은 같은 요소가 하나도 없습니다.")
else:
    print("s1과 s4은 같은 요소가 적어도 하나는 있습니다.")

튜플 (Tuple)
Tuple은 리스트와 비슷하게 여러 요소들을 갖는 컬렉션이다. 리스트와 다른 점은 Tuple은 새로운 요소를 추가하거나 갱신, 삭제하는 일을 할 수 없다. 즉, Tuple은 한변 결정된 요소를 변경할 수 없는 Immutable 데이타 타입이다. 따라서, Tuple은 컬렉션이 항상 고정된 요소값을 갖기를 원하거나 변경되지 말아야 하는 경우에 사용하게 된다.

튜플의 요소들은 둥근 괄호(...) 를 사용하여 컬렉션을 표현하는데, 각 요소들은 서로 다른 타입이 될 수 있으며, 컴마(,)로 구분한다. 요소가 없는 빈 튜플은 "()"와 같이 표현한다.

In [ ]:
t = ("AB", 10, False)
print(t)

In [ ]:
type(t)

특히 요소가 하나일 경우에는 요소 뒤에 콤마를 붙여 명시적으로 Tuple임을 표시해야 한다. 아래 예제를 보면 첫번째 (123) 의 경우, 이는 산술식의 괄호로 인식하여 t1의 타입이 정수가 된다. 이러한 혼동을 방지하기 위해 t2 에서 처럼 (123,) 콤마를 붙여 명시적으로 Tuple임을 표시한다.

In [ ]:
t1 = (123)
print(t1)  # int 타입
 
t2 = (123,)
print(t2)  # tuple 타입

In [ ]:
type(t1)

Tuple 인덱싱과 슬라이싱
Tuple은 리스트와 마찬가지로 한 요소를 리턴하는 인덱싱과 특정 부분집합을 리턴하는 슬라이싱을 지원한다. 단, 요소값을 변경하거나 추가 혹은 삭제하는 일은 할 수 없다.

In [ ]:
t = (1, 5, 10)
 
# 인덱스
second = t[1]      # 5
last = t[-1]       # 10
 
# 슬라이스
s = t[1:2]         # (5)
s = t[1:]          # (5, 10)

Tuple 병합과 반복
Tuple은 리스트와 마찬가지로 두 개의 튜플을 병합하기 위해 플러스(+)를 사용하고, 하나의 튜플을 N 번 반복하기 위해서는 "튜플 * N"와 같이 표현한다.

In [ ]:
# 병합
a = (1, 2)
b = (3, 4, 5)
c = a + b
print(c)   # (1, 2, 3, 4, 5)
 
# 반복
d = a * 3  # 혹은 "d = 3 * a" 도 동일
print(d)   # (1, 2, 1, 2, 1, 2)

In [ ]:
type(c)

Tuple 변수 할당
Tuple 데이타를 변수에 할당할 때, 각 요소를 각각 다른 변수에 할당할 수도 있다. 예를 들어, 아래 예제에서 첫번째 예의 name 변수는 튜플 전체를 할당받는 변수이지만, 두번째의 firstname, lastname 변수는 튜플에 있는 각 요소를 하나씩 할당받는 변수들이다.

In [ ]:
name = ("John", "Kim")
print(name)
# 출력: ('John', 'Kim')
 
firstname, lastname = ("John", "Kim")
print(lastname, ",", firstname)
# 출력: Kim, John

Dictionary (dict)
Dictionary는 "키(Key) - 값(Value)" 쌍을 요소로 갖는 컬렉션이다. Dictionary는 흔히 Map 이라고도 불리우는데, 키(Key)로 신속하게 값(Value)을 찾아내는 해시테이블(Hash Table) 구조를 갖는다.

파이썬에서 Dictionary는 "dict" 클래스로 구현되어 있다. Dictionary의 키(key)는 그 값을 변경할 수 없는 Immutable 타입이어야 하며, Dictionary 값(value)은 Immutable과 Mutable 모두 가능하다. 예를 들어, Dictionary의 키(key)로 문자열이나 Tuple은 사용될 수 있는 반면, 리스트는 키로 사용될 수 없다.

Dictionary의 요소들은 Curly Brace "{...}" 를 사용하여 컬렉션을 표현하는데, 각 요소들은 "Key:Value"" 쌍으로 되어 있으며, 요소간은 콤마로 구분한다. 요소가 없는 빈 Dictionary는 "{}"와 같이 표현한다. 특정 요소를 찾아 읽고 쓰기 위해서는 "Dictionary변수[키]"와 같이 키를 인덱스처럼 사용한다.

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
v = scores["민수"]   # 특정 요소 읽기
scores["민수"] = 88  # 쓰기
print(scores)

파이썬의 Dictionary는 생성하기 위해 위의 예제와 같이 {...} 리터럴(Literal)을 사용할 수도 있지만, 또한 dict 클래스의 dict() 생성자를 사용할 수도 있다. dict() 생성자는 (아래 첫번째 예처럼) Key-Value 쌍을 갖는 Tuple 리스트를 받아들이거나 (두번째 예처럼) dict(key=value, key=value, ...) 식의 키-값을 직접 파라미터로 지정하는 방식을 사용할 수 있다.

In [ ]:
# 1. Tuple List로부터 dict 생성
persons = [('김기수', 30), ('홍대길', 35), ('강찬수', 25)]
mydict = dict(persons)
 
age = mydict["홍대길"]
print(age)   # 35
 
# 2. Key=Value 파라미터로부터 dict 생성
scores = dict(a=80, b=90, c=85)
print(scores['b'])  #90

In [ ]:
type(persons)

추가,수정,삭제,읽기
Dictionary 요소를 수정하기 위해서는 "Dictionary[키]=새값"와 같이 해당 키 인덱스를 사용하여 새 값을 할당하면 된다. Dictionary에 새로운 요소를 추가하기 위해서는 수정 때와 마찬가지로 ("맵[새키]=새값") 새 키에 새 값을 할당한다. Dictionary 요소를 삭제하기 위해서는 "del 요소"와 같이 하여 특정 요소를 지운다.

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
scores["민수"] = 88   # 수정
scores["길동"] = 95   # 추가
del scores["영희"]
print(scores)
# 출력 {'철수': 90, '길동': 95, '민수': 88}

Dictionary에 있는 값들을 모두 출력하기 위해서는 다음과 같이 루프를 사용할 수 있다. 아래 예제에서 for 루프는 scores 맵으로부터 키를 하나씩 리턴하게 된다. 이때 키는 랜덤하게 리턴되는데, 이는 해시테이블의 속성이다. 각 키에 따른 값을 구하기 위해서는 scores[key]와 같이 사용한다.

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
 
for key in scores:
    val = scores[key]
    print("%s : %d" % (key, val))

유용한 dict 메서드
Dictonary와 관련하여 dict 클래스에는 여러 유용한 메서드들이 있다. dict 클래스의 keys()는 Dictonary의 키값들로 된 dict_keys 객체를 리턴하고, values()는 Dictonary의 값들로 된 dict_values 객체를 리턴한다.

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
 
# keys
keys = scores.keys()
for k in keys:
    print(k)
 
# values
values = scores.values()
for v in values:
    print(v)

In [ ]:
type(scores.keys())

In [ ]:
scores.keys()

In [ ]:
type(scores.values())

In [ ]:
scores.values()

In [ ]:
list_values = list(scores.values())

In [ ]:
type(list_values)

dict.get() 메서드는 특정 키에 대한 값을 리턴하는데, 이는 Dictionary[키]를 사용하는 것과 비슷하다. 단, Dictionary[키]를 사용하면 키가 없을 때 에러(KeyError)를 리턴하는 반면, get()은 키가 Dictionary에 없을 경우 None을 리턴하므로 더 유용할 수 있다. 물론 get()을 사용하는 대신 해당 키가 Dictionary에 존재하는지 체크하고 Dictionary[키]를 사용하는 방법도 있다. 키가 Dictionary에 존재하는지를 체크하지 위해서는 멤버쉽연산자 in 을 사용하면 된다.

In [ ]:
scores = {"철수": 90, "민수": 85, "영희": 80}
v = scores.get("민수")  # 85
v = scores.get("길동")  # None
#v = scores["길동"]      # 에러 발생
 
# 멤버쉽연산자 in 사용
if "길동" in scores:
    print(scores["길동"])
 
scores.clear()  # 모두 삭제
print(scores)

dict.update() 메서드는 Dictionary 안의 여러 데이타를 한꺼번에 갱신하는데 유용한 메서드이다. 아래 예제에서 처럼, update() 안에 Dictionary 형태로 여러 데이타의 값을 변경하면, 해당 데이타들이 update() 메서드에 의해 한꺼번에 수정된다.

In [ ]:
persons = [('김기수', 30), ('홍대길', 35), ('강찬수', 25)]
mydict = dict(persons)
 
mydict.update({'홍대길':33,'강찬수':26})

In [ ]:
persons

In [ ]:
mydict