<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/Python_Data_Types/3_data_type_0928.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Collections (Arrays)
There are four collection data types in the Python programming language:

### List is a collection which is ordered and changeable. Allows duplicate members.
### Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
### Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
### Dictionary is a collection which is ordered** and changeable. No duplicate members.

![python-data-structures-1024x407.webp]()

In [1]:
var = ('apple', 'banana', 'cherry')

In [2]:
type(var)

tuple

In [6]:
x1, y1, z1 = var

In [13]:
list_var = list(var)

In [18]:
type(list_var)

list

In [15]:
list_var = list(('apple', 'banana', 'cherry'))

In [17]:
list_var = ['apple', 'banana', 'cherry']

In [19]:
list_var.append('melon')

In [21]:
list_var.append('banana')

In [23]:
list_var.append(var)

In [27]:
list_var.pop()

('apple', 'banana', 'cherry')

In [28]:
list_var

['apple', 'banana', 'cherry', 'melon', 'banana']

In [29]:
set_var = set(('apple', 'banana', 'cherry'))

In [32]:
set_var = {'apple', 'banana', 'cherry'}

In [33]:
type(set_var)

set

In [36]:
set_var.add('melon')

In [37]:
set_var

{'apple', 'banana', 'cherry', 'melon'}

In [38]:
my_list = [100, 200, 300, 400, 500]

In [40]:
my_list.append(300)

In [41]:
my_list

[100, 200, 300, 400, 500, 300]

In [42]:
set_num = set(my_list)

In [43]:
set_num

{100, 200, 300, 400, 500}

In [44]:
again_list = list(set_num)

In [45]:
again_list

[100, 200, 300, 400, 500]

In [46]:
img = (640, 480, 3)

In [47]:
type(img)

tuple

In [48]:
width, height, rgb = img

In [51]:
rgb

3

In [56]:
hsv = (3,)

In [57]:
type(hsv)

tuple

In [59]:
score = [[77, 66, 55], [45, 55, 65], [87, 99, 88]]

In [58]:
import numpy as np

In [60]:
score_arr = np.array(score)

In [61]:
type(score_arr)

numpy.ndarray

In [62]:
score

[[77, 66, 55], [45, 55, 65], [87, 99, 88]]

In [63]:
score_arr

array([[77, 66, 55],
       [45, 55, 65],
       [87, 99, 88]])

In [64]:
score[0][-1]

55

In [65]:
score_arr[0, 2]

55

In [67]:
score_arr.shape

(3, 3)

In [68]:
import pandas as pd

In [69]:
col = ['Eng', 'Math', 'Sci']

In [70]:
idx = ['1_class', '2_class', '3_class']

In [71]:
df = pd.DataFrame(score_arr, index=idx, columns=col)

In [72]:
df

         Eng  Math  Sci
1_class   77    66   55
2_class   45    55   65
3_class   87    99   88

In [73]:
df['Sum'] = df['Eng'] + df['Math'] + df['Sci']

In [74]:
df

         Eng  Math  Sci  Sum
1_class   77    66   55  198
2_class   45    55   65  165
3_class   87    99   88  274

In [76]:
df.drop('Sum', axis=1, inplace=True)

In [77]:
df

         Eng  Math  Sci
1_class   77    66   55
2_class   45    55   65
3_class   87    99   88

In [78]:
again_arr = df.values

In [79]:
again_arr

array([[77, 66, 55],
       [45, 55, 65],
       [87, 99, 88]])

In [80]:
again_list = again_arr.tolist()

In [81]:
again_list

[[77, 66, 55], [45, 55, 65], [87, 99, 88]]

set()
 (set)         .    ,    , , ,       .
  ,  x in set, len(set), for x in set  .   ,       .   ,        .

In [ ]:
#     .
s1 = set({1, 2, 3})
s2 = set([1, 2, 3])
s3 = {1, 2, 3}

In [ ]:
s1

In [ ]:
s3[0]  #           .

In [ ]:
#       .
s4 = set()

 , , ,  ,

In [ ]:
#  :   "intersection"    "&"      .

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
#   intersection
print(s1.intersection(s2))
 
#   &
print(s1 & s2)

In [ ]:
#  :   "union"    "|"     .

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
#   union
print(s1.union(s2))
 
#   |
print(s1 | s2)

In [ ]:
#  :     ,      .
#   "difference"   "-"     .

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
 
#   difference
print(s1.difference(s2))
print(s2.difference(s1))
 
#   -
print(s1 - s2)
print(s2 - s1)

In [ ]:
#   :          .
#   ''   .

s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s3 = {1, 2, 3, 4, 5}
 
if s1 == s2:
    print("s1 s2 .")
else:
    print("s1 s2 .")
 
if s1 == s3:
    print("s1 s3 .")
else:
    print("s1 s3 .")

In [ ]:
#    ( )        .   !=   .
# ,        .
# ,  .
# ,     .    isdisjoint .


s1 = set([1, 2, 3, 4, 5])
s2 = set([4, 5, 6, 7, 8])
s3 = {1, 2, 3, 4, 5}
s4 = {6, 7, 8, 9, 10}
 
if s1.isdisjoint(s2):
    print("s1 s2    .")
else:
    print("s1 s2     .")
 
if s1.isdisjoint(s3):
    print("s1 s3    .")
else:
    print("s1 s3     .")
 
if s1.isdisjoint(s4):
    print("s1 s4    .")
else:
    print("s1 s4     .")

 (Tuple)
Tuple      .    Tuple    ,     . , Tuple       Immutable  . , Tuple            .

   (...)    ,        , (,) .     "()"  .

In [ ]:
t = ("AB", 10, False)
print(t)

In [ ]:
type(t)

         Tuple  .     (123)  ,     t1   .     t2   (123,)    Tuple .

In [ ]:
t1 = (123)
print(t1)  # int 
 
t2 = (123,)
print(t2)  # tuple

In [ ]:
type(t1)

Tuple  
Tuple           . ,         .

In [ ]:
t = (1, 5, 10)
 
# 
second = t[1]      # 5
last = t[-1]       # 10
 
# 
s = t[1:2]         # (5)
s = t[1:]          # (5, 10)

Tuple  
Tuple        (+) ,   N    " * N"  .

In [ ]:
# 
a = (1, 2)
b = (3, 4, 5)
c = a + b
print(c)   # (1, 2, 3, 4, 5)
 
# 
d = a * 3  #  "d = 3 * a"  
print(d)   # (1, 2, 1, 2, 1, 2)

In [ ]:
type(c)

Tuple  
Tuple    ,        .  ,     name     ,  firstname, lastname        .

In [ ]:
name = ("John", "Kim")
print(name)
# : ('John', 'Kim')
 
firstname, lastname = ("John", "Kim")
print(lastname, ",", firstname)
# : Kim, John

Dictionary (dict)
Dictionary "(Key) - (Value)"    . Dictionary  Map  , (Key)  (Value)  (Hash Table)  .

 Dictionary "dict"   . Dictionary (key)      Immutable  , Dictionary (value) Immutable Mutable  .  , Dictionary (key)  Tuple    ,     .

Dictionary  Curly Brace "{...}"    ,   "Key:Value""   ,   .    Dictionary "{}"  .       "Dictionary[]"    .

In [ ]:
scores = {"": 90, "": 85, "": 80}
v = scores[""]   #   
scores[""] = 88  # 
print(scores)

 Dictionary      {...} (Literal)   ,  dict  dict()    . dict()  (  ) Key-Value   Tuple   ( ) dict(key=value, key=value, ...)  -       .

In [ ]:
# 1. Tuple List dict 
persons = [('', 30), ('', 35), ('', 25)]
mydict = dict(persons)
 
age = mydict[""]
print(age)   # 35
 
# 2. Key=Value  dict 
scores = dict(a=80, b=90, c=85)
print(scores['b'])  #90

In [ ]:
type(persons)

,,,
Dictionary    "Dictionary[]="         . Dictionary        ("[]=")     . Dictionary    "del "     .

In [ ]:
scores = {"": 90, "": 85, "": 80}
scores[""] = 88   # 
scores[""] = 95   # 
del scores[""]
print(scores)
#  {'': 90, '': 95, '': 88}

Dictionary           .   for  scores     .    ,   .       scores[key]  .

In [ ]:
scores = {"": 90, "": 85, "": 80}
 
for key in scores:
    val = scores[key]
    print("%s : %d" % (key, val))

 dict 
Dictonary  dict     . dict  keys() Dictonary   dict_keys  , values() Dictonary   dict_values  .

In [ ]:
scores = {"": 90, "": 85, "": 80}
 
# keys
keys = scores.keys()
for k in keys:
    print(k)
 
# values
values = scores.values()
for v in values:
    print(v)

In [ ]:
type(scores.keys())

In [ ]:
scores.keys()

In [ ]:
type(scores.values())

In [ ]:
scores.values()

In [ ]:
list_values = list(scores.values())

In [ ]:
type(list_values)

dict.get()      ,  Dictionary[]   . , Dictionary[]     (KeyError)  , get()  Dictionary   None     .  get()     Dictionary   Dictionary[]   .  Dictionary     in   .

In [ ]:
scores = {"": 90, "": 85, "": 80}
v = scores.get("")  # 85
v = scores.get("")  # None
#v = scores[""]      #  
 
#  in 
if "" in scores:
    print(scores[""])
 
scores.clear()  #  
print(scores)

dict.update()  Dictionary       .   , update()  Dictionary     ,   update()    .

In [ ]:
persons = [('', 30), ('', 35), ('', 25)]
mydict = dict(persons)
 
mydict.update({'':33,'':26})

In [ ]:
persons

In [ ]:
mydict