<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/Python_Data_Types/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = {
    "cal": [420, 380, 390],
    "duration": [50, 40, 45]
}

In [3]:
data

{'cal': [420, 380, 390], 'duration': [50, 40, 45]}

In [4]:
type(data)

dict

In [5]:
df = pd.DataFrame(data)

In [6]:
df

   cal  duration
0  420        50
1  380        40
2  390        45

In [9]:
s1 = df.loc[0]

In [10]:
type(s1)

pandas.core.series.Series

In [11]:
d1 = df.loc[:]

In [12]:
type(d1)

pandas.core.frame.DataFrame

In [18]:
s2 = df.iloc[-1,:]

In [19]:
type(s2)

pandas.core.series.Series

In [27]:
s3 = df.loc[:,["cal"]]

In [28]:
type(s3)

pandas.core.frame.DataFrame

In [23]:
d3 = df.loc[:, ["cal", "duration"]]

In [24]:
type(d3)

pandas.core.frame.DataFrame

In [32]:
df.loc[[0, 1]]

   cal  duration
0  420        50
1  380        40

In [33]:
df.shape

(3, 2)

In [34]:
df.shape[0]

3