<a href="https://colab.research.google.com/github/JSJeong-me/Machine_Learning/blob/main/Python_Data_Types/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
t = ("AB", 10, False)
print(t)

('AB', 10, False)

In [37]:
type(t)

tuple

In [38]:
t[0]

'AB'

In [39]:
t[0] = 'CD'

TypeError: ignored

In [45]:
x, y, z = t

In [ ]:
print(x, y, z)
print(x)
print(y)
print(z)

In [ ]:
# 여러개의 변수에 여러개의 값을 값을 저장
x, y, z = 10, 20, 30

print(x, y, z)
print(x)
print(y)
print(z)

In [ ]:
# 여러 개의 변에 동일한 값을 할당
a=b=c=100

print(a, b, c)

In [ ]:
#두 변수의 값을 교환 (swap)

a, b = 10, 20

print('a=', a)
print('b=', b)

print('[swap] ')

In [ ]:
c = a
a = b
b = c

In [ ]:
a, b = b, a

print('a=', a)
print('b=', b)

In [ ]:
# 변수를 삭제

x = 100

print(x)

print(id(x))
print(type(x))

In [ ]:
del x

print(x)

In [ ]:
# 문자열에 큰 따옴표 사용
name = "땡땡이"
age = 15

print(name, age)

address = '서울'
print(name + "는 " + address + "에 삽니다")
print(name + '는 ' + address + '에 삽니다')

In [ ]:
# str( ) : 숫자형을 문자열로 형변환

print(name + '은 ' + str(age) + '살입니다')


print(name + '은 ' , age , '살입니다')

#문자열 변수와 값을 연결할 때 값이 숫자면 + 사용 불가
#문자열 데이터를 연결할 때문 + 사용 가능
print(name + "은"+ address + " 에 삽니다.")
#print(name + "은" + age + "살 입니다.") #age 숫자 변수 -error
print(name + "은" + str(age) + "살 입니다.") #age 형변환

In [ ]:
#--형변환
#값의 형태를 강제적으로 다른 형태로 변환하는 것
#int -> str, str-> folot
#문자열 형변환 함수 str()
#정수형 형변환 함수 int()
#실수형 형변환 함수 float()
##파이썬은 파일 단위로 일괄 실행 시킨다. 가급적 콘솔 실행은 하지 말 것

In [ ]:
# 사각형의 면적을 구하는 프로그램

width = 100
height = 50
area = width * height
print("사각형의 면적은", area)

In [ ]:
name = '홍길동'
no = 2016001
year = 4
grade = 'A'
average = 93.5

print( "성명 : " + name)
print( "학번 :" , no)
print( "학년 :", year)
print( "성적 : "+ grade)
print( "평균 :", average)

In [ ]:
print( "성명 : %s" % name)
print( "학번 : %d" % no)
print( "학년 : %d" % year)
print( "성적 : %s" % grade)
print( "평균 : %10.2f" % average)

In [ ]:
print('이름: %s, 학년: %d' %(name, year))

In [ ]:
rate= 80
print('이름: %s, 출석률: %d%%' %(name, rate))

print(format(average, '.2f'))

In [ ]:
kor= 90
eng = 80
math = 80
total = kor + eng + math
average = total / 3

print('총점: %d, 평균: %.2f' %(total, average))

In [ ]:
# 상수
# 값이 변경되지 않는 값
# 파이썬에서는 별도의 상수가 없음
# 변수와 구분하기 위해 대문자로 사용
# 나중에 상수의 값을 변경해도 오류가 없음
# 프로그램 내에서 변하지 않는 값을 쓸때는 상수로 처리하는
# 것이 편하다.

PI = 3.141592 #대문자이름이므로 상수로 처리
r = 10
area =r*r*PI
print(area)

INT_RATE = 0.03

deposit = 10000
interest = deposit * INT_RATE
balance = deposit + interest

print(balance) #변수값 그대로 출력
print(int(balance)) #변수값을 정수형으로 형변환 후 출력
print(format(int(balance),',')) #변수값을 정수형으로 형 변환후 천단위 구분자 기호

In [ ]:
#정수 리터럴
a = 0b1010 #2진수
b = 300
c =0o123 #8진수
d = 0x12fc #16진수
print(a, b, c, d)

In [ ]:
#-------------------
#실수 리터럴
f1 = 3.14
f2 = -123.45
f3 =1.234567e5
print(f1,f2,f3)

In [ ]:
#----------------
#문자열 리터럴
char1 = 'A'
char2 = "B"
print(char1,char2)

In [ ]:
str1 ='홍길동'
str2 = "python"
str3 = """Python Programming"""
str3 = '''Python Programming'''

In [ ]:
str4 = '''삼 따옴표는
여러줄에 나누어서
문자을 저장할 때 사용'''#enter까지 문자열로 저장

In [ ]:
'''삼 따옴표는
여러줄에 나누어서
문자을 저장할 때 사용'''#enter까지 문자열로 저장

In [ ]:
print(str4)

#논리값 리터럴
t = True
f = False

In [ ]:
print(t,f)

#특수 리터럴
#None

In [ ]:
address = None
print(address)
print(type(address))
print(id(address))

In [ ]:
a = 1 + 2 + \
    4 + 5
print(a)

b = (1 + 2+
     3+5)
print(b)

print("c:\pythonStudy\name")
print(r"c:\pythonStudy\name")

print("first", end="@")
print("second")

In [ ]:
#주석문
# 프로그램에 대한 설명문, 실행에 영향 없음

#주석처리 방법
# 1줄 주석 : 줄 맨 처음에 # 기호 사용
# 블럭 주석 : 파이썬은 여러줄 주석 기호는 없음. 다만, ''' ''' 이용하면
# 문자열 처리 되면서 실행에 영향을 주지 않는다
#
# 주석문을 미리 입력 해 농고 ctrl + / 키를 이용해 한번에 주석처리

# 주석을 사용하는 이유
# 프로그램에 관한 정보를 추가할 수 있다.
# 수정이 용이하다
# 가독성을 높여준다.
# 코드를 이해하기 쉽다
#
# 가능하면 코드에 주석을 붙이는 습관이 필요

In [ ]:
#----------------------------------------
#행 분리 기호
# 1줄의 내용이 긴 경우 여러 행으로 분리 가능
# 역 슬래시나 괄호 사용

#역 슬래시 사용
# a = 1+2+3+ \
# 4+5+6

#괄호 사용
a = (1+2+3+
4+5+6)

In [ ]:
#print 함수에서 여러 행으로 입력
#문자열 중간에서 엔터키를 치면 다음행으로 가고 자동을 ""처리되면서
#1줄로 인식

print("긴 문장을 입력할 때 중간에서 엔터키를 치면"
      "다음행으로 가고 자동으로 따옴표 처리 되면서"
      "1줄로 인식")

#여러줄로 출력 하려면 줄바꿈 문자(\n)  사용
print("긴 문장을 입력할 때 중간에서 엔터키를 치면\n"
      "다음행으로 가고 자동으로 따옴표 처리 되면서\n"
      "1줄로 인식")

In [ ]:
#------------행결합
#2개의 문장을 한줄에 입력시 에러 발생
# print('apple') print('banana')

#행 결합해서 2개 문장을 한줄에 입력하기 위해 ; 을 추가
print('apple') ; print('banana')

In [ ]:
#print() 함수 : 다음행으로 커서를 이동
print("first")
print("second")

#옆으로 출력(한줄에 모두 출력)
print("first", end="")
print("second")

#구분자 표시: 띄어쓰기, 쉼표, 대시, 콜론, ....
print("first", end="-")
print("second")